<gapp-bar-line></gapp-bar-line>
<footer id="guest-footer" aria-label="guest">
    <div class="back-to-top">
        <mat-icon (click)="scrollToTop()">expand_less</mat-icon>
    </div>
    <div class="footer-details">
        <!-- 1st Slice -->
        <div class="logo-container">

            <div class="footer-logo"></div>
        </div>

        <!-- 2nd Slice -->
        <div class="links-container">
            <div class="navigation-links">
                <h4><b>Title</b></h4>
                <div class="navigation-link">
                    <a href="#" target="_blank">Employees</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Organisations</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Partners</a>
                </div>
            </div>
        </div>

        <!-- 3rd Slice -->
        <div class="links-container">
            <div class="navigation-links">
                <h4><b>Title</b></h4>
                <div class="navigation-link">
                    <a href="#" target="_blank">Employees</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Organisations</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Partners</a>
                </div>
            </div>
        </div>

        <!-- 4th Slice -->
        <div class="links-container">
            <div class="navigation-links">
                <h4><b>Title</b></h4>
                <div class="navigation-link">
                    <a href="#" target="_blank">Employees</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Organisations</a>
                </div>
                <div class="navigation-link">
                    <a href="#" target="_blank">Partners</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footnote-section">
        <div class="footnote">
            <div class="footnote-links">
                <a href="#">Legal</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Cookies</a>
                <a href="#">About Ads</a>
            </div>

            <div>Copyright © 2023 Guest App</div>
        </div>
    </div>
</footer>
