@use '@angular/material'as mat;

@include mat.core();

/* http://mcg.mbitson.com/#!?guestred=%23de2209 */
$md-guestred: (50 : #fbe4e1,
  100 : #f5bdb5,
  200 : #ef9184,
  300 : #e86453,
  400 : #e3432e,
  500 : #de2209,
  600 : #da1e08,
  700 : #d51906,
  800 : #d11405,
  900 : #c80c02,
  A100 : #fff1f1,
  A200 : #ffbfbe,
  A400 : #ff8d8b,
  A700 : #ff7471,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

/* http://mcg.mbitson.com/#!?guestorange=%23f16702 */
$md-guestorange: (50 : #fdede1,
  100 : #fbd1b3,
  200 : #f8b381,
  300 : #f5954e,
  400 : #f37e28,
  500 : #f16702,
  600 : #ef5f02,
  700 : #ed5401,
  800 : #eb4a01,
  900 : #e73901,
  A100 : #ffffff,
  A200 : #ffe1da,
  A400 : #ffb7a7,
  A700 : #ffa28e,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  ));

$app-primary: mat.define-palette($md-guestred, 700, 800);
$app-accent: mat.define-palette($md-guestorange, 700, 800);

$system-theme: mat.define-light-theme((color: (primary: $app-primary,
      accent: $app-accent,
    ),
  ));

// Apply all styles to all components.
@include mat.all-component-themes($system-theme);

$custom-typography: mat.define-typography-config($font-family: 'proxima-nova',
  $headline: mat.define-typography-level(xx-large, 48px, 600),
  $title: mat.define-typography-level(x-large, 36px, 600),
  $button: mat.define-typography-level(16px, 24px, 600),
);

// Apply all styles to the whole system.
@include mat.core($custom-typography);

@import 'variables.scss';

a {
  color: black !important;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $main-background-color;
  font-family: proxima-nova, sans-serif !important;
  font-weight: 600 !important;
  font-size: $body-font-size-desktop !important;
  font-style: normal;
  color: $foreground-color !important;
}

.main-container {
  height: 100%;
}
