<div id="reset-password-page">
    <div class="brand-logo"></div>
    <div class="reset-password-panel" *ngIf="!isResettingPassword">
        <form id="send-reset-password-email-form" [formGroup]="sendResetPasswordForm" (ngSubmit)="sendResetPasswordLink()">
            <h1>Reset Password</h1>

            <div *ngIf="!isSendPasswordEmailSuccess">
                <p *ngIf="!isSendPasswordEmailSuccess">You are in this page because you want to reset your password for your GUEST account. Please enter the email you wish to send the password recovery link.</p>

                <mat-generic-field formControlName="recoveryEmail"></mat-generic-field>
                <mat-generic-field formControlName="recaptcha"></mat-generic-field>

                <button mat-flat-button color="primary" class="mt-2" [disabled]="!sendResetPasswordForm.valid || isLoading" type="submit">Send Reset Email</button>
            </div>

            <div *ngIf="isSendPasswordEmailSuccess">
                <p>An email from GUEST team (admin@guestapp.ph) was sent to {{recoveryEmail?.value}}.</p>
                <button mat-flat-button color="primary" (click)="goToHome()">Go To Guest Portal</button>
            </div>
        </form>
    </div>

    <div class="reset-password-panel" *ngIf="isResettingPassword">
        <form id="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <h1>Reset Password</h1>

            <div *ngIf="!isResetPasswordSuccess">
                <p>Please enter your new password for {{recoveryEmail?.value}}. Password should be alpha-numeric characters, contain at least one (1) capital letter, and consists of at least special characters.</p>

                <mat-generic-field formControlName="password"></mat-generic-field>
                <mat-generic-field formControlName="confirmPassword"></mat-generic-field>

                <button mat-flat-button color="primary" [disabled]="!resetPasswordForm.valid || isLoading" type="submit">Reset Password</button>
            </div>

            <div *ngIf="isResetPasswordSuccess">
                <p>You successfully changed your password. The changes will take effect immediately in both mobile app and dashboard.</p>
                <button mat-flat-button color="primary" (click)="goToHome()">Go To Guest Portal</button>
            </div>
        </form>
    </div>

    <p class="footnote">© 2023 - GUEST Travel App. This form will not collect any email. If an account doesn't exist in our records, our servers will ignore your request and will not send any email. In addition, kindly check for your junk or spam folder.</p>
</div>
