@import '../variables.scss';

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #0279cc;
}
.mat-input-element {
    caret-color: #333333;
}

.field-row {
    @include align-justify-center();
    padding: 10px;

    label { margin: 0 !important; }
}

.dashboard-form-field-error {
    color: #e04c4c;
    font-size: 14px;
}

.dashboard-form-field {
    .mat-form-field, mat-file-uploader-field {
        width: 100%;

        textarea {
            height: 250px;
        }

        mat-icon {
            margin-right: 12px;
        }

        .mat-form-field-prefix:has(.text-prefix) {
            margin-right: 10px;
            top: -3px !important;
        }

        .mat-form-field-suffix:has(.text-suffix) {
            margin-left: 10px;
            top: 0em !important;
        }
    }

    /* Remove built-in padding from Angular Material */
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-form-field-infix {
        border-top: 0.3em solid transparent;
    }

    .mat-custom-field {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        color: #282828;

        border-radius: 5px;
        margin-top: 5px;
        min-height: 66px;
        height: auto;
        background-color: white;
        border: 1px solid #e4e4e4;
        transition: .2s border;
        cursor: pointer;

        input {
            border: none;
        }

        .mat-standard-chip.mat-chip-with-trailing-icon {
            min-height: 40px;
        }
    }

    .mat-custom-field:hover {
        border: 2px #242424 solid;
    }

    .mat-custom-field:focus {
        outline: none;
        box-shadow: 0 0 0 2.5pt #75aefb;
    }

    .mat-custom-field-disabled {
        color: #a9a9a9;
        border: 1px solid #f3f3f3 !important;
    }

    .mat-custom-field-suffix {
        position: absolute;
        right: 1em;
        margin-left: 5px;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 100;
    }

    label {
        margin-top: 12px;
    }
}

/* Start of Dashboard Structure */
.dashboard-form-1-col-section {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.dashboard-form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dashboard-form-action-buttons {
    @include align-justify-center();
}

.page-content {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 3em;
    margin-left: 0;
    // Todo: Scrollable dashboard overflow: hidden;
}

.page-content.active {
    padding-left: 4em;
}

.content-header-bar {
    button {
        align-self: flex-end;
        height: 45px;
    }
}

.content-container {
    margin-bottom: 2em;
}

.list-table {
    flex-grow: 2;
    display: flex;
    flex-direction: column;

    .table-filler {
        flex-grow: 2;
        background-color: white;
    }
}

.card-header {
    min-height: 200px;
}

/* End of Dashboard Structure */

.required-indicator {
    color: #d54747;
}

.dashboard-form-field {

    .form-control-plaintext {
        background-color: $field-background-color;
        color: $field-foreground-color;
        height: 60px;
        padding: 15px;
        font-size: medium;
        border: 1px solid #e4e4e4;

        border-radius: $default-field-border-radius;
    }
}

.mini-dashboard-form-field {
    margin-top: 0.6em;
    width: 100%;

    .form-control-plaintext {
        background-color: $field-background-color;
        color: $field-foreground-color;
        height: 50px;
        padding: 10px;
        font-size: medium;
        border: 1px solid #e4e4e4;

        border-radius: $default-field-border-radius;
    }
}

input[type="file"] {
    display: none;
}

.file-upload-field {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: #a9a9a9;
    cursor: pointer;
}

.file-upload-placeholder {
    color: #a9a9a9;
}

.file-upload-icon {
    position: absolute;
    right: 1.5em;
    margin-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 100;
}

.file-upload-icon::before {
    color: #e0a800;
    font-family: "Material Icons";
    content: "file_upload";
    font-size: 24px;
}

.input-group-text {
    background-color: #e0a800;
    border-color: #e0a800;
    padding-left: .9em;
    padding-right: .9em;
    color: $field-background-color;
}

@media (max-width:1440px) {
    .page-content, .page-content.active {
        padding-left: 9em;
    }
}

.timepicker-overlay {
    z-index: 1100 !important;
}

.timepicker-backdrop-overlay {
    z-index: 1100 !important;
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    cursor: inherit;
    padding-left: 1.75em;
    line-height: inherit;
    height: 60px;
    padding: 15px;
    border: 1px solid #a9a9a9;
    font-size: medium;

    // Stack above custom arrow
    z-index: 1;

    // Remove dropdown arrow in IE10 & IE11
    // @link https://www.filamentgroup.com/lab/select-css.html
    &::-ms-expand {
      display: none;
    }
}

// Interim solution until :focus-within has better support
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid var(--select-focus);
  border-radius: inherit;
}

.dashboard-select-field {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    background-color: white;

    select,
    &::after {
      grid-area: select;
    }

    min-width: 15ch;

    border-radius: $default-field-border-radius;

    font-size: medium;
    cursor: pointer;
    line-height: 1.8;
}

select[multiple] {
    padding-right: 0;

    /*
     * Safari will not reveal an option
     * unless the select height has room to
     * show all of it
     * Firefox and Chrome allow showing
     * a partial option
     */
    height: 6rem;

    option {
      white-space: normal;

      // Only affects Chrome
      outline-color: var(--select-focus);
    }

    /*
     * Experimental - styling of selected options
     * in the multiselect
     * Not supported crossbrowser
     */
    //   &:not(:disabled) option {
    //     border-radius: 12px;
    //     transition: 120ms all ease-in;

    //     &:checked {
    //       background: linear-gradient(hsl(242, 61%, 76%), hsl(242, 61%, 71%));
    //       padding-left: 0.5em;
    //       color: black !important;
    //     }
    //   }
}

.select--disabled {
    cursor: not-allowed;
    background-color: #eee;
    background-image: linear-gradient(to top, #ddd, #eee 33%);
}

.select + label {
    margin-top: 2rem;
}

.dashboard-field-group-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.dashboard-field-expand-2 {
    grid-column: 1 / span 2;
}

.dashboard-field-group-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.dashboard-field-expend-3 {
    grid-column: 1 / span 3;
}

/* New Fluid Dashboard Styles */

.page-content-wrapper {
    padding: 2em;
    min-width: $page-max-width;
    max-width: $page-max-width;
    height: auto;
    margin: 0 auto;
}

.overview-container {
    h1 {
        font-size: 48px !important;
    }

    .subtitle {
        color: $gapp-text-light-color;
    }
}

.mat-card {
    border-radius: 15px;
}

.mat-list-section {
    margin-top: 10px;
}
