@import '../../../../variables.scss';

.main-content {
    padding-bottom: 5em;
}

.guest-tagline {
    width: auto;
    text-align: center;

    @include constraint-layout();
    padding-right: 2em;
    padding-left: 2em;
    margin-top: 2em;

    h1 {
        span:nth-child(1) {
            color: $gapp-blue-color;
            font-weight: 700;
        }
        span:nth-child(2) {
            color: $gapp-orange-color;
            font-weight: 700;
        }
        span:nth-child(3) {
            color: $gapp-green-color;
            font-weight: 700;
        }
        span:nth-child(4) {
            color: $gapp-yellow-color;
            font-weight: 700;
        }
        span:nth-child(5) {
            color: $gapp-red-color;
            font-weight: 700;
        }
    }
}

.introduction-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    margin: 0 auto;
    padding-left: 2em;
    padding-right: 2em;

    @include constraint-layout();
    margin-top: 2em;

    @include media(tablet) {
        display: flex;
        flex-direction: column-reverse;
    }

    .first-column {
        .guest-logo {
            width: 160px;
            height: 160px;
            margin-bottom: 1em;
            background-image: url('../../../../assets/images/Guest_Primary_Logo.png');
            @include image-fit();

            @include media(tablet) {
                display: none;
            }
        }

        .guest-intro-body {
            margin-bottom: 2em;
        }

        .download-buttons {
            @include align-items-center();
        }
    }
}
