<div id="top-scroll-target" #scrollTarget></div>
<gapp-bar-line></gapp-bar-line>
<gapp-nav-bar></gapp-nav-bar>

<div class="main-content">
    <div class="guest-tagline">
        <h1>
            <span>G</span>et an
            <span>U</span>nforgettable
            <span>E</span>xperience through
            <span>S</span>eamless
            <span>T</span>ravel
        </h1>
    </div>

    <div class="introduction-section">

        <div class="first-column">
            <div class="guest-logo"></div>
            <div class="guest-intro-title">
                <h2 [innerHTML]="content.Introduction"></h2>
            </div>
            <div class="guest-intro-body">
                {{content.IntroductionBody}}
            </div>

            <!-- Generate via https://tools.applemediaservices.com/app/1580061490?country=us -->
            <div class="download-buttons">
                <a href="https://apps.apple.com/us/app/guest-travel-app/id1580061490?itsct=apps_box_badge&amp;itscg=30200" style="display: inline-block; overflow: hidden; border-radius: 13px; width: 250px; height: 83px;"><img src="https://tools.applemediaservices.com/api/badges/download-on-the-app-store/black/en-us?size=250x83&amp;releaseDate=1637193600?h=602319ebb3c385fac0af9176b7ba94d4" alt="Download on the App Store" style="border-radius: 13px; width: 250px; height: 83px;"></a>
            </div>
        </div>

        <div class="second-column">
            <div class="phones">
                <div class="left-phone"></div>
                <div class="right-phone"></div>
                <div class="center-phone"></div>
            </div>
        </div>
    </div>

    <div class="benefits-section">
        <h2><b>Benefits</b></h2>

        <div class="benefit-container">
            <div class="benefit" *ngFor="let benefit of content.Benefits">
                <div class="benefit-icon" [style.background-color]="benefit.color">
                    <mat-icon>{{benefit.icon}}</mat-icon>
                </div>
                <div class="benefit-title"><h3>{{benefit.key}}</h3></div>
                <div class="benefit-description">{{benefit.description}}</div>
            </div>
        </div>
    </div>

    <div class="dashboard-section">
        <div class="panel-red">
            <div class="destination" [style.right]="0" [style.background-image]="'url(../../../../assets/images/Manila-Clock-Tower.jpg)'"></div>
        </div>
        <div class="panel-yellow">
            <div class="destination" [style.left]="0" [style.background-image]="'url(../../../../assets/images/Intramuros-City-Tour.jpg)'"></div>
        </div>

        <div class="dashboard-details-container">
            <div class="panel-orange">
                <div class="panel-orange-container">
                    <b><div class="dashboard-feature-heading" [innerHTML]="content.WebDashboardContent.title"></div></b>
                    <div>
                        <div class="dashboard-feature" *ngFor="let feature of content.WebDashboardContent.features">
                            <div class="feature-check">
                                <mat-icon>check</mat-icon>
                            </div>
                            <div class="feature-text">
                                <div class="feature-title">{{feature.key}}</div>
                                <div class="feature-description">{{feature.description}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="laptop"></div>
        </div>
    </div>
</div>

<gapp-footer [scrollTarget]="scrollTarget"></gapp-footer>
