<div class="dashboard-section">
    <div class="panel-red">
        <div class="destination" [style.right]="0"></div>
    </div>
    <div class="panel-yellow">
        <div class="destination" [style.left]="0"></div>
    </div>

    <div class="dashboard-details-container">
        <div class="panel-orange">
            <div class="dashboard-feature-container">
                <b><div class="dashboard-feature-heading" [innerHTML]="content.WebDashboardContent.title"></div></b>
                <div>
                    <div class="dashboard-feature" *ngFor="let feature of content.WebDashboardContent.features">
                        <div class="feature-check">
                            <mat-icon>check</mat-icon>
                        </div>
                        <div class="feature-text">
                            <div class="feature-title">{{feature.key}}</div>
                            <div class="feature-description">{{feature.description}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="laptop"></div>
    </div>
</div>

<div class="dashboard-section-mobile">
    <div class="laptop"></div>

    <div class="dashboard-feature-container">
        <b><div class="dashboard-feature-heading" [innerHTML]="content.WebDashboardContent.title"></div></b>
        <div>
            <div class="dashboard-feature" *ngFor="let feature of content.WebDashboardContent.features">
                <div class="feature-check">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="feature-text">
                    <div class="feature-title">{{feature.key}}</div>
                    <div class="feature-description">{{feature.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
